### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd
#import sidetable

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

#Create a dataframe that contains only columns sn, gender, and age. 
#SN_gen_age_df = purchase_data_df["SN"]
#SN_gen_age_df.head()
#verify its output is a series
#type(purchase_data_df["Age"])
#have a look at the shape of the data
#purchase_data_df.shape

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [26]:
# 1) Create a dataframe that contains only columns sn, gender, and age. This number of unique people 
SN_gen_age_df = purchase_data_df[["SN", "Gender","Age"]]
#SN_gen_age_df.head()
#Check if Data Frame
#type(SN_gen_age_df[["SN", "Gender","Age"]])
#have a look at the shape of the data
SN_gen_age_df.shape
# 2) drop_duplicates() function that you can do on a dataframe
SN_gen_age_df.drop_duplicates(subset=['SN'])
#SN_gen_age_df.head()

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]

## Player Count

* Display the total number of players

In [27]:
#Display the total number of players 
total_players = len(SN_gen_age_df['SN'].unique())
print(f"Total Players is {total_players}")

Total Players is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#user purchase_data dataframe
#import sidetable
unique_items = len(purchase_data_df['Item ID'].unique())
print(f"Number of Unique Item IDs is {unique_items}")
avg_price = purchase_data_df['Price'].mean()
print(f"The average price is $ {avg_price}")
max_price = purchase_data_df['Price'].max()
print(f"The max price is $ {max_price}")
avg_age = purchase_data_df['Age'].mean()
print(f"The average age is {avg_age}")
min_age = purchase_data_df['Age'].min()
print(f"The min age is {min_age}")
print(purchase_data_df.stb({min_age})

SyntaxError: unexpected EOF while parsing (<ipython-input-28-e3bd31513ead>, line 14)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame